baseURL: https://integraloddity.com/
languageCode: en-us
title: iO's Website
paginate: 5
theme: "hugo-PaperMod"

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
disqusShortname: emmaoni-com
disqus_url: emmaoni-com.disqus.com
relativeURLs: false

minify:
    disableXML: true
    minifyOutput: true

params:
    env: production # to enable google analytics, opengraph, twitter-cards and schema.
    title: iO
    description: "Nothing matters, let's have fun"
    keywords: [Blog, Portfolio, PaperMod, hacking, 5hylock, emmanuel oni, reversing, reverse engineering, hacking, hacker, integraloddity]
    author: iO
    # author: ["Me", "You"] # multiple authors
    images: ["<link or path of image for opengraph, twitter-cards>"]
    DateFormat: "January 2, 2006"
    defaultTheme: dark # dark, light
    disableThemeToggle: true

    ShowReadingTime: true
    ShowShareButtons: true
    ShowPostNavLinks: true
    ShowBreadCrumbs: true
    ShowCodeCopyButtons: true
    disableSpecial1stPost: false
    disableScrollToTop: false
    comments: true
    hidemeta: false
    hideSummary: false
    showtoc: false
    tocopen: false

    assets:
        # disableHLJS: true # to disable highlight.js
        # disableFingerprinting: true
        favicon: /favicon.ico

    label:
        text: ""
        icon: /favicon.ico
        iconHeight: 35

    # profile-mode
    profileMode:
        enabled: true # needs to be explicitly set
        title: integralOddity
        subtitle: "Security Researcher and Technology Enthusiast"
        # imageUrl: "https://avatars.githubusercontent.com/u/84208619?s=400&u=5284c4d18a594dc58ae1e4439d40820374a45c05&v=4"
        imageUrl: "newlogo.gif"
        imageWidth: 400
        imageHeight: 300
        imageTitle: logo gif
        buttons:
            - name: Blog
              url: posts
            - name: Notes
              url: notes

    # home-info mode
    homeInfoParams:
        Title: "Hi there \U0001F44B"
        Content: Welcome to my blog

    socialIcons:
        - name: twitter
          url: "https://twitter.com/integraloddity"
        - name: github
          url: "https://github.com/integraloddity"
        - name: "linkedin"
          url:  "https://www.linkedin.com/in/integraloddity/"
        - name: ctftime
          url:  "https://ctftime.org/user/71152"
        - name: goodreads
          url: "https://goodreads.com/integraloddity"
        - name: cryptohack
          url: "https://cryptohack.org/user/integraloddity/"
        - name: hackthebox
          url: "https://app.hackthebox.com/users/235069"
        - name: hackerone
          url: "https://hackerone.com/integraloddity"
        - name: researchgate
          url: "https://www.researchgate.net/profile/Emmanuel_Oni8"
        - name: resume
          url: "https://integraloddity.com/my_resume.pdf"
        - name: spotify
          url: "https://open.spotify.com/user/manny0ni14"
    analytics:
        google:
            SiteVerificationTag: "G-88Q8VFZZKG"

    cover:
        hidden: false # hide everywhere but not in structured data
        hiddenInList: false # hide on list pages and home
        hiddenInSingle: true # hide on single page

    # https://fusejs.io/api/options.html
    fuseOpts:
        isCaseSensitive: false
        shouldSort: true
        location: 0
        distance: 1000
        threshold: 0.4
        minMatchCharLength: 0
        keys: ["title", "permalink", "summary", "content"]
menu:
    main:
        - identifier: tags
          name: Tags
          url: /tags/
          weight: 30
        - identifier: archive
          name: Archives
          url: /archives
          weight: 40
        - identifier: about
          name: About
          url: /about
          weight: 10



pygmentsUseClasses: true
markup:
    highlight:
        # anchorLineNos: true
        codeFences: true
        guessSyntax: true
        lineNos: true
        style: monokai
